.Header {
  border-bottom: 1px solid rgb(236, 236, 236);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.Header_title {
  font-size: 20px;
  font-weight: bold;
}

