/* 전체 카드 스타일 */
.intro-card {
  border-radius: 24px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05) !important;
  margin-top: 10px;
}

/* 증명사진 박스 */
.profile-img-box img {
  width: 100%;
  /*max-width: 250px;*/
  aspect-ratio: 3 / 4;
  background-color: #f2f4f6;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #8b95a1;
  margin: 0 auto; /* 중앙 정렬 */
}

/* 이름 스타일 */
.profile-name {
  margin-bottom: 4px !important;
}

/* 소속 텍스트 스타일 */
.profile-major {
  display: block;
  margin-bottom: 16px !important;
}

/* 태그 영역 간격 */
.tag-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.profile-history-list {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  gap: 8px; /* 요소 사이 간격 (Space의 size 역할) */
  width: 100%;
}
